.nav {
  background-color: #f2f7ff;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.nav img {
  width: 3.5rem;
  height: 3.5rem;
}
@media (max-width: 800px) {
  .nav img {
    width: 4rem;
    height: 4rem;
  }
}
